<!DOCTYPE html>
<html data-ng-app="samples">
<head>
    <title>AngularJS Demos</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
</head>
<body data-ng-controller="samplesController">
    <h2>
        <img src="Content/images/pradip.png"  style="height:150px" />Pradip App</h2>
    <div class="row">
        <div class="span4 section">
            <h5>Demos:</h5>
            <ol>
                <li data-ng-repeat="page in pages">
                    <a href="{{href}}" data-ng-click="loadPage(page)">{{ page.title }}</a>
                </li>
            </ol>
        </div>
        <div class="span8">
            <ng-include src="template"></ng-include>
            <!-- <div id="sampleContent"></div> -->
            <br />
            <div class="container">
                <h1>Hello Its Me Pradip Aryal  !</h1>
                <div class="col-md-10">
                    <img src="Content/images/back.jpg" class="img-responsive" alt="image">
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script>        
        var urlBase = '/DemoPartials/';
        var samplesModule = angular.module('samples',[]);              
        samplesModule.config(function($controllerProvider, $provide){
            //Used to handle loading controllers dynamically            
            samplesModule.controller = $controllerProvider.register;
            samplesModule.factory = $provide.factory;
        });        
        samplesModule.controller('samplesController', function ($scope, $templateCache, $http,$location){
            $scope.template ='';
            $scope.html = '';
            $scope.pages =

             [                
                
                { title: 'About Me', url: 'About Me.html + ', href:'About Me.html' }, 
                { title: 'Work experiance', url: 'Work.html + ', href:'Work.html' }, 
                { title: 'intrested', url: 'intrested.html + ', href:'intrested.html' }, 
                { title: 'Portfolio', url: 'portfolio.html + ', href:'portfolio.html' },              
                { title: 'contact', url: urlBase + 'contact.html' },
                { title: 'Detail', uri: 'CustomerManagementApp.html', href: 'CustomerManagementApp.html'}
            ];
            $scope.loadPage = function (page) {
                if (page.href) {
                    document.location = page.href; //Load new page
                }
                $scope.template = page.url;
                $http({ method: 'GET', url: page.url, cache: $templateCache })
                  .success(function (html) {
                      $scope.html = html;
                      $('textarea').text(html); //Had to go with this due to IE
                  })
                  .error(function (html, status) {
                      $scope.html = 'Unable to load code: ' + status;
                  });
            }
        });

    </script>
</body>
</html>
